hostname {{ node.hostname }}
!
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
no service config
enable password {{ config.password }}
ip classless
ip subnet-zero
ip domain lookup
ip name-server {{ config.nameserver }}
ip domain name {{ config.domainname }}
crypto key generate rsa modulus 2048
ip ssh version 2
ip ssh server algorithm authentication password
username {{ config.username }} privilege 15 secret {{ config.password }}
cdp run
{%- if dmvpn_vrf %}
ip vrf {{ dmvpn_vrf }}
!
{%- endif %}
!
{%- set ns = namespace(nbma=None, tun=None, pair=None) %}
{%- for iface in node.interfaces %}
{%- if iface.description == "dmvpn nbma" %}
{%- set ns.nbma = iface.address %}
{%- endif %}
{%- if iface.description == "dmvpn tunnel" %}
{%- set ns.tun = iface.address %}
{%- endif %}
{%- if iface.description == "pair link" %}
{%- set ns.pair = iface.address %}
{%- endif %}
{%- endfor %}
!
interface GigabitEthernet0/0
 ip address {{ ns.nbma.ip }} {{ ns.nbma.netmask }}
 no shutdown
!
{%- if ns.pair %}
interface GigabitEthernet0/1
{%- if dmvpn_vrf %}
  ip vrf forwarding {{ dmvpn_vrf }}
{%- endif %}
  ip address {{ ns.pair.ip }} {{ ns.pair.netmask }}
  no shutdown
!
{%- endif %}
int Loopback0
{%- if dmvpn_vrf %}
  ip vrf forwarding {{ dmvpn_vrf }}
{%- endif %}
  ip address {{ node.loopback.ip }} {{ node.loopback.netmask }}
!
interface Tunnel0
{%- if dmvpn_vrf %}
  ip vrf forwarding {{ dmvpn_vrf }}
{%- endif %}
  ip address {{ ns.tun.ip }} {{ ns.tun.netmask }}
  no ip redirects
  tunnel source GigabitEthernet0/0
  tunnel key {{ dmvpn_tunnel_key }}
  tunnel mode gre multipoint
 ip nhrp network-id 10
{%- if is_hub %}
{%- if (dmvpn_phase|default(2)) == 3 %}
 ip nhrp redirect
{%- endif %}
 {%- if not dmvpn_vrf %}
 no ip split-horizon eigrp 100
 {%- endif %}
{%- for hub in hub_info if hub.hub_tunnel_ip != ns.tun.ip %}
 ip nhrp map {{ hub.hub_tunnel_ip }} {{ hub.hub_nbma_ip }}
 ip nhrp map multicast {{ hub.hub_nbma_ip }}
{%- endfor %}
{%- else %}
{%- if (dmvpn_phase|default(2)) == 3 %}
 ip nhrp shortcut
{%- endif %}
{%- for hub in hub_info %}
 ip nhrp map {{ hub.hub_tunnel_ip }} {{ hub.hub_nbma_ip }}
 ip nhrp map multicast {{ hub.hub_nbma_ip }}
 ip nhrp nhs {{ hub.hub_tunnel_ip }}
{%- endfor %}
{%- endif %}
!
{%- if dmvpn_vrf %}
router eigrp TOPGEN
 !
 address-family ipv4 unicast vrf {{ dmvpn_vrf }} autonomous-system 100
  !
  af-interface default
   passive-interface
  exit-af-interface
  af-interface Tunnel0
   no passive-interface
 {%- if is_hub %}
    no split-horizon
 {%- endif %}
  exit-af-interface
{%- if ns.pair %}
  af-interface GigabitEthernet0/1
   no passive-interface
  exit-af-interface
{%- endif %}
  topology base
  exit-af-topology
  network {{ ns.tun.ip }} 0.0.0.0
  network {{ node.loopback.ip }} 0.0.0.0
{%- if ns.pair %}
  network {{ ns.pair.ip }} 0.0.0.0
{%- endif %}
 exit-address-family
!
{%- else %}
router eigrp 100
 network {{ ns.tun.ip }} 0.0.0.0
 network {{ node.loopback.ip }} 0.0.0.0
{%- if ns.pair %}
 network {{ ns.pair.ip }} 0.0.0.0
{%- endif %}
 passive-interface default
 passive-interface GigabitEthernet0/0
 no passive-interface Tunnel0
{%- if ns.pair %}
  no passive-interface GigabitEthernet0/1
{%- endif %}
!
{%- endif %}
line vty 0 4
 transport input ssh telnet
 exec-timeout 720 0
 login local
line con 0
 password {{ config.password }}
 exec-timeout 0 0
!
end
